@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');


*{
margin: 0;
padding: 0;
}

body{
background-image: url("../Media/Images/vortex-275446_1920.jpg");
background-position: center;
background-repeat: no-repeat;
text-align: center; 

}


.test{
    font-family: 'Comic Neue', cursive;
color: rgb(255, 0, 106);

font-size: 30px;



}

  .banana{
text-decoration: underline;
font-size: 40px;
color: lightseagreen
}

.city{
  color: blue;

}